.challenge__profile,
.challenge__progress,
.challenge__explore {
  background-color: #ee6c4d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid #ee6c4d;
}
.question__text {
  padding-bottom: 20px !important;
}
.challenge__profile {
  margin-left: 20px;
}
.challenge__challenge {
  color: white !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid black;
  background-color: black;
}
.getchallenge__text {
  font-size: 1.3rem;
  font-family: Poppins;
  cursor: pointer;
}
.MuiButton-root.Mui-disabled {
  color: #fff !important;
}
.MuiButton-root {
  width: 100px !important;
  padding: 10px !important;
}
.MuiButton-root:hover {
  width: 100px !important;
  background-color: #000 !important;
 }
.getchallenge__text:hover {
  text-decoration: underline;
}
.get__challenge {
  display: flex;
  align-items: center;
  padding: 15px;
}
.dare__box {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
.nodareImage {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1125px) {
  .challenge {
    zoom: 0.9 !important;
  }
}

@media (max-width: 1040px) {
  .challenge {
    zoom: 0.85 !important;
  }
}

@media (max-width: 1000px) {
  .challenge {
    zoom: 0.8 !important;
  }
}
@media (max-width: 930px) {
  .challenge {
    zoom: 0.75 !important;
  }
}

@media (max-width: 880px) {
  .challenge {
    zoom: 0.7 !important;
  }
}

@media (max-width: 820px) {
  .challenge {
    zoom: 0.65 !important;
  }
}

@media (max-width: 760px) {
  .challenge {
    zoom: 0.6 !important;
  }
}

@media (max-width: 700px) {
  .challenge {
    zoom: 0.55 !important;
  }

  #modalll {
    zoom: 0.8 !important;
  }
}

@media (max-width: 640px) {
  .challenge {
    zoom: 0.5 !important;
  }
  .dare__box {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .challenge {
    zoom: 0.45 !important;
  }
}

@media (max-width: 520px) {
  .challenge {
    zoom: 0.4 !important;
  }

  #modalll {
    zoom: 0.7 !important;
  }
}

@media (max-width: 460px) {
  .challenge {
    zoom: 0.35 !important;
  }

  #modalll {
    zoom: 0.6 !important;
  }
}

@media (max-width: 400px) {
  .challenge {
    zoom: 0.3 !important;
  }

  #modalll {
    zoom: 0.5 !important;
  }
}

@media (max-width: 350px) {
  .challenge {
    zoom: 0.25 !important;
  }

  #modalll {
    zoom: 0.45 !important;
  }
}

@media (max-width: 300px) {
  .challenge {
    zoom: 0.2 !important;
  }
}

@media (max-width: 250px) {
  .challenge {
    zoom: 0.15 !important;
  }
}
