.home__image {
  flex: 1;
  border: 2px solid black;
  width: 99%;
  height: 480px;
  min-width: 300px;
  object-fit: contain;
}

@media (max-width: 980px) {
  .home__image {
    margin-bottom: -4px;
  }
}
